@model DotNetCore.Web.Features.Home.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-6">
        <h2>Header</h2>
        <p>@Model.Property</p>
    </div>
</div>
